<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<div class="bg"></div>


<section class="center">
  <div class="view"> <!--img class="profile_pic" src="pfp.png" alt="profile pic"-->
    <div class="name">
      <p>SAI</p>
      <p>KRISHNA</p>
    </div>
  </div> 
</section>

<section class="center">
  <div class="about">
    <img class="profile_pic" src="pfp.png" alt="profile pic">
    <div class="writting">
      <p>
        <strong><h2>hey,</h2></strong>
        my name is sai krishna v, i am a 3rd year college student The passage 
        experienced a surge in popularity during the 1960s when Letraset used 
        it on their dry-transfer sheets, and again during the 90s as desktop 
        publishers bundled the text with their software. Today it's seen all around
        the web; on templates, websites, and stock designs.
      </p>
    </div>
  </div>
</section>


